{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-8 col-md-offset-2">
            <h1>Utilisateur</h1>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Utilisateur</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Mot de passe</th>
                        <td>{{ user.password | slice(0, 20)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>
                <a href="{{ path('cms_user_edit', { 'id': user.id }) }}"><button class="btn btn-default">Modifier</button></a>
            </p>

            <p>
                {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-danger">Effacer</button>
                {{ form_end(delete_form) }}
            </p>

            <br>
            <a href="{{ path('cms_user_index') }}"><button>Retour à la liste des utilisateurs</button></a>
        </div>
    </div>
{% endblock %}
