{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des différentes catégories</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Catégorie</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            {% for category in categories %}
            <tbody>
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><a href="{{ path('cms_category_edit', { 'id': category.id }) }}">Modifier</a></td>
                <td><a href="{{ path('cms_category_show', { 'id': category.id }) }}">Supprimer</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

        <a href="{{ path('cms_category_new') }}"><button>Ajouter une nouvelle catégorie</button></a>

    </div>
{% endblock %}
