{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supprimer la catégorie</h1>

    <p>
        Catégorie numéro: {{ category.id }}
    </p>
    <p>
        Nom de la catégorie à effacer: <strong>{{ category.name }}</strong>
    </p>

    {{ form_start(delete_form) }}
        <button type="submit" value="Delete" class="btn btn-default">Supprimer</button>
    {{ form_end(delete_form) }}

    <br>
    <a href="{{ path('cms_category_index') }}"><button>Revenir à la liste des catégories</button></a>

{% endblock %}
