{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>{{ page.title }}</h1>
                <h5>Catégorie: {{ page.category.name }}</h5>
                <p>{{ page.content | raw }}</p>
                <hr class="col-md-4 col-md-offset-4">
                {# Comment system using Disqus #}
                {#{{ disqus_embed(page) }}#}
                {#{{ knp_disqus_render('forteroche', {'identifier': "{{ page.id }}", 'language': 'fr'}) }}#}
                {#{{ knp_disqus_render('dolor-sid', {'identifier': "{{ page.title }}", 'limit': 10}) }}#}
            </div>

            <div class="row col-md-8 col-md-offset-2">
                <ul class="list-group">
                    {% for message in allComments %}
                       <li class="list-group-item">
                           <p class="comment-info"><strong>{{ message.author }}</strong>, le <em>{{ message.createdAt | date }}</em> a écrit: <span class="glyphicon glyphicon-comment"></span><span class="glyphicon glyphicon-flag"></span></p>
                           <p>{{ message.content }}</p>
                       </li>
                    {% endfor %}
                </ul>
                <hr class="col-md-4 col-md-offset-4">
            </div>

            <div class="row col-md-8 col-md-offset-2">
                <br>
                <div class="card">
                    <div class="card-block">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', "class": "form-group"}}) }}
                        {{ form_widget(form) }}
                        <br>
                        <button type="submit" value="Poster" class="btn">Poster</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}