{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>{{ page.title }}</h1>
                <h5>Catégorie: {{ page.category.name }}</h5>
                <p>{{ page.content | raw }}</p>

                {{ disqus_embed(page) }}
                {#{{ knp_disqus_render('forteroche', {'identifier': "{{ page.id }}", 'language': 'fr'}) }}#}
                {#{{ knp_disqus_render('dolor-sid', {'identifier': "{{ page.title }}", 'limit': 10}) }}#}

            </div>

        </div>

    </div>
{% endblock %}