{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-offset-2 col-md-8">
            <h1>Modifier un Utilisateur</h1>

            <p>
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <button type="submit" value="Edit" class="btn btn-default">Modifier</button>
                {{ form_end(edit_form) }}
            </p>

            <p>
                {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-danger">Effacer</button>
                {{ form_end(delete_form) }}
            </p>
            <br>
            <a href="{{ path('cms_user_index') }}"><button>Retour à la liste des utilisateurs</button></a>
            <br>
        </div>
    </div>
{% endblock %}
