{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row col-md-offset-2 col-md-8">
        <h1>Liste des billets</h1>

        {% for page in pages %}
            <h3>{{ page.title }}</h3>

            <p>{{ page.content | slice(0, 150)}}</p>

            <span><a href="{{ path('cms_page_edit', { 'id': page.id }) }}"><button class="btn btn-default">Modifier</button></a></span>
            <span><a href="{{ path('cms_page_show', { 'id': page.id }) }}"><button class="btn btn-default">Supprimer</button></a></span>

        {% endfor %}

        <br><br>
        <a href="{{ path('cms_page_new') }}"><button>Ajouter un nouveau billet</button></a>

    </div>
</div>
{% endblock %}
