{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-offset-2 col-md-8">
            <h1>Créer un nouveau billet</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" value="Create" class="btn btn-default">Créer le billet</button>
            {{ form_end(form) }}

            <br>

            <a href="{{ path('cms_page_index') }}">
                <button class="btn btn-default">Voir les billets</button>
            </a>

            {{ tinymce_init() }}

        </div>
    </div>






{% endblock %}
