{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-lg-offset-2 col-lg-8">
            <h1>Supprimer un billet</h1>

            <h3>{{ page.title }}</h3>
            <p>Billet numéro #{{ page.id }}</p>

            <p>{{ page.content | slice(0, 200)}}</p>


            {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-default">Supprimer</button>
            {{ form_end(delete_form) }}

            <br>
            <a href="{{ path('cms_page_index') }}"><button>Liste des billets</button></a>

        </div>
    </div>
{% endblock %}
