{% macro showComment(message) %}
    <li class="list-group-item">
        <p class="comment-info"><strong>{{ message.author }}</strong>, le <em>{{ message.createdAt | date }}</em>, a écrit:

            <a href="{{ path("cms_comment_respond", {"id": message.id}) }}">
                <span class="glyphicon glyphicon-comment"></span>
            </a>

            <span class="glyphicon glyphicon-flag"></span>
        </p>

        <p>{{ message.content }}</p>

        {% if message.children | length > 0 %}
            <ul>
                {% for reply in message.children %}
                    {{ _self.showComment(reply) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}